*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(to right, #a26464, #799f0c);
    min-height: 100vh;
}
.container{
    width: 400px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 6px;
}
.form{
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;
}
h2{
    border-bottom: 2px solid #ccc;
    border-radius:6px 6px 0 0;
    text-align: center;
    color: rgb(210, 108, 71);
    padding: 10px 0;
}
.form input{
    outline: none;
    border: none;
    padding: 0 20px;
    font-size: 24px;
    color: #444;
    width: 100%;
}
.form button{
    outline: none;
    border: none;
    background: yellowgreen;
    padding: 5px 15px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.todos{
    list-style: none;
    margin: 0;
    padding: 0;
}
.todos ul{
    overflow-x:hidden;
    overflow-y:auto;
}
.todos li{
    border-top: 1px solid #e5e5e5e5;
    cursor: pointer;
    font-size: 22px;
    padding: 15px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todos li i{
    color: #aaa;
    opacity: 0;
}
.todos li:hover i{
    opacity: 1;
}
.todos li span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    padding-right: 10px;
}
.todos li.completed span{
    color: #b6b6b6;
    text-decoration: line-through;
}
